server:
  port: 8989
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sg_blog?characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 5MB
  redis:
    host: 39.105.139.200
    port: 6379
    password: Xt774071!
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER # 因为Springfox使用的路径匹配是基于AntPathMatcher的，
      # 而Spring Boot 2.6.X使用的是PathPatternMatcher，会报空指针错误，
      # 一种方法修改匹配路径，另一种方法是降低springboot版本到 2.5.X
mybatis-plus:
  configuration:
    # 日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto
oss:
  accessKey: Y83F8XrtOh5FW31bNJaJsWZDGQIpiiCHKfGdK9SD
  secretKey: BFpFjmIiJMfIAeowKtdoXuAfLzevo4tbRvP-DrdO
  bucket: xutongblog